@import "../../General.scss";


.radio{
    font-size: inherit;
    width: 100%;
    display: grid;
    grid-template-columns: min-content auto;
    column-gap: 2em;

    &__input{
        display: flex;
        padding-top: 1.5em;
        input{
            opacity: 0;
            height: 0;
            width: 0;

            &:checked + .radio__control{
                background-image: url('../../images/checkmark.svg');
                border-color: $active-green;
            }
        }
        

        .radio__control{
            display: block;
            width: 1.5em;
            height: 1.5em;
            border-radius: 50%;
            border: 0.125em solid $border-color;
        }
    }
}
.input{
    padding: 1em;
    border: 1px solid $border-color;
    font-size: 1.5em;
    line-height: 26.4px;

    &:focus{
        background-color: $field-focus;
    }

}