@import "../../General.scss";

.button{
    padding: 1em;
    margin-bottom: 2em;
    border-radius: 0.25em;
    border: 1px solid $primary-color;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

    &_primary{
        background-color: $primary-color;
        color: $white;
    }

    &_secondary{
        background-color: inherit;
        color: $primary-color;
    }

    div{
        width: 1rem;
        margin-right: 1em;
    }

    @media screen and (min-width: 768px){
        margin: 0 2em 0 0;
    }
}