@import "../../General.scss";

.form{
    width: 84.5%;
    margin: 0 auto;

    @media screen and (min-width: 768px){
        max-width: 768px;
    }
    //lg
    @media screen and (min-width: 1024px){
        max-width: 1024px;
    }

    &__account-info{
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 768px){
            flex-direction: row;
            column-gap: 4rem;
            margin: 4em 0;
        }
        @media screen and (min-width: 1024px){
            justify-content: space-between;
        }

        .account-info{
            &__image{
                margin: 4em 0;

                @media screen and (min-width: 768px){
                    margin: 0;
                    height: fit-content;
                }
            }
            &__field{

                @media screen and (min-width: 1024px){
                    width: 60%;
                }
                .field__input{
                    width: -webkit-fill-available;
                    margin: 0.9375em 0;
                }

                &-group{
                    display: flex;
                    flex-direction: column;

                    @media screen and (min-width: 1200px){
                        flex-direction: row;
                        column-gap: 2em;
                    }

                    .field:first-child{
                        @media screen and (min-width: 1200px){
                            width: 40%;
                        } 
                    }
                    .field:last-child{
                        @media screen and (min-width: 1200px){
                            width: 60%;
                        } 
                    }
                }

                .field{
                    position: relative;

                    label{
                        position: absolute;
                        left: 2rem;
                        top: 3rem;
                        font-size: 1.5rem;
                        color: #909090;
                        transform: translate3d(0,0,0);
                        pointer-events: none;
                        transition: all 0.2s ease-in-out;
                    }

                     input:focus + label, input:valid + label{
                        font-size: 1rem;
                        transform: translate3d(-0.5rem, -1.3rem, 0);
                    }
                }
            }
        }
    }
    &__config{

        .config__option{
            display: flex;
            align-items: baseline;
        }
    }

    &__buttons{
        display: flex;
        flex-direction: column;
        margin-top: 2em;

        @media screen and (min-width: 768px){
            flex-direction: row;
            margin-bottom: 6em;
        }
    }
}
