@import "../../General.scss";

.side-nav{
    background-color: $background-color;
    z-index: 10;
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    padding: 1em;
    transition: all 0.5s ease-in-out;

    @media  screen and (min-width: 1024px){
        display: none;
    }

    ul li {
        .side-nav__item{
        color: $white;
        font-weight: 700;
        padding: 1.75em 1.875em;
        display: block;
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-tap-highlight-color: transparent;

        &--active{
            border-bottom: 4.5px solid $active-green;
        }
        }
        
    }
}
.showNav{
    transform: translateY(0%)!important;
}
.hideNav{
    transform: translateX(-250%);
}