@import "../../General.scss";

.config-card{
    border: 1px solid $border-color;
    padding: 2em;
    width: -webkit-fill-available;

    &--active{
        background-color: $field-focus;
    }
    &--inactive{
        background-color: inherit;
    }
    &--demphasized{
        h3{
            font-weight: 400;
            margin: .5rem 0;
        }
        p{
            display: block!important;
        }
    }

    p{
        display: none;
        @media screen and (min-width: 768px){
            display: block;
        }
    }
}