@import "../../General.scss";

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

    &::before{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: hsla(225, 24%, 28%, 0.25);
    }

    .modal{
        background-color: $white;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 55%;
        border-radius: 1em;
        padding: 4em;

        @media screen and (min-width: 1024px){
            width: 35%;
        }
        @media screen and (min-width: 1280px){
            width: 30%;
        }
        &__image{
            width: 5em;
        }
    }
}
