@import "../../General.scss";

.header{
    &__warning{
        display: flex;
        background-color: $header-warning;
        padding: 2em;
        align-items: center;

        &-icon{
            width: 5rem;
            margin-right: 1rem;

            @media screen and (min-width: 768px){
                width: 2.5rem;
            }
            @media screen and (min-width: 1024px){
                width: 2rem;
            }
                
        }

        p{
            font-weight: bold;
        }
    }
}