@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@400;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Almarai', 'sans-serif';
    font-size: 16px;
}
h1{
    font-size: 2.5em;
    font-weight: 800;
}
h2{
    font-size: 2em;
    font-weight: normal;
    margin-bottom: 2rem;
}
h3{
    font-size: 1.25em;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
li{
    list-style: none;
}
hr{
    margin: 4em auto;
}
