$primary-color: hsla(20, 97%, 59%, 1);
$white: hsla(0,0%,100%,1);
$text-color: hsla(0, 0%, 13%, 1);
$background-color: hsla(20, 9%, 33%, 1);
$active-green: hsla(144, 70%, 72%, 1);
$border-color: hsla(0, 0%, 84%, 1);
$field-focus: hsla(0, 0%, 98%, 1);
$header-warning: hsla(20, 100%, 98%, 1);


