@import "../../General.scss";

.nav{
    background-color: $background-color;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__menu-icon{
        padding: 1.875em;

        span{
            display: block;
            height: 3.5px;
            width: 2rem;
            margin-bottom: 5px;
            border-radius: 5px;
            background-color: #FFFFFF;
            transition: all 0.3s ease;

            &.change.bar1{
                transform: rotate(-45deg) translate(-1em,0.2em);
            }
            &.change.bar2{
                opacity: 0;
            }
            &.change.bar3{
                transform: rotate(45deg) translate(-0.5em, 0.25em);
            }
        }
        @media screen and (min-width: 1024px){
            display: none;
        }
    }
    &__logo{
        width: 10rem;
        padding: 1.875em;
    }
    
    &__menu-items{
        display: none;

        @media screen and (min-width: 1024px){
            display: inline-block;
        }

        nav ul{
            display: flex;

            .nav__menu-item{
                color: $white;
                font-weight: 700;
                padding: 1.65em 1.875em;

                &--active{
                    border-bottom: 4.5px solid $active-green;
                }
            }
        }
    }

    &__log-out{
        padding: 1.875em;
        @media screen and (min-width: 1024px){
            display: none;
        }
    }
}